body{
    background-color: rgb(248, 241, 242);
}

.tika{
    height: 150px;
    width: 150px;
    background-color: red;
    transform: rotate(45deg);
    position: absolute;
    top: 100px;
    left: 720px;
}

.lefteye1{
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 0 50%;
    position: absolute;
    top: 250px;
    left: 500px;
    border-color: black;
    border-width: 20px;
    border-style: solid;
    transform: rotate(-20deg);
}

.righteye1{
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 0 50%;
    position: absolute;
    top: 250px;
    right: 425px;
    border-color: solid black;
    border-width: 20px;
    border-style: solid;
    transform: rotate(110deg);
}

.lefteye2{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 295px;
    left: 540px;
}

.righteye2{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 295px;
    right: 475px;
}

.tongue{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    top: 500px;
    left: 700px;
    border-radius:0 0 50% 50%;
}